@using System.Linq
@model EM_SPT.Models.oo
@{
    ViewData["Title"] = "Администратор ОО";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Администратор ОО</title>
</head>
<body class="gradient">

    <ul class="nav nav-tabs">
        <li>
            <a href="#klass" style="float: left;" class="nav-link active" data-toggle="tab">Информация по классам</a>
        </li>
        <li>
            <a href="#otch" style="float: left;" class="nav-link" data-toggle="tab">Формирование отчетов</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active " id="klass">

            <div class="form-row shadow p-3 mb-5 bg-white rounded">

                @*<div class="alert alert-success col-md-12" role="alert">Список классов</div>


                    <button class="btn btn-outline-success " data-toggle="modal" data-target="#addklass" form="0">Добавить класс</button>*@



            </div>

        </div>
        <div class="tab-pane fade " id="otch">
            <form method="post" asp-controller="Home">
                <div class="form-row shadow p-3 mb-5 bg-white rounded">
                    @*<div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <select id="inputState" class="form-control" required>
                                    <option value="" selected>Выберите код класса</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="1 курс">1 курс</option>
                                    <option value="2 курс">2 курс</option>
                                    <option value="3 курс">3 курс</option>
                                    <option value="4 курс">4 курс</option>
                                    <option value="5 курс">5 курс</option>
                                </select>
                            </div>
                            <button class="btn btn-outline-success form-group col-md-4">Загрузить отчет по классу</button>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-outline-success form-group col-md-4">Загрузить отчет по школе</button>
                        </div>*@
                    <button class="btn btn-outline-success " asp-controller="Home" asp-action="Excel">Загрузить отчет</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal addklass -->
    <div class="modal fade bs-example-modal-lg" id="addklass" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Добавить класс</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="id" />
                        <table>
                            <tr>
                                <td>Количество учеников</td>
                                <td>
                                    <input type="text" value="" asp-for="id" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="Lk" asp-action="Add_klass">Добавить класс</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>