@using System.Linq

@{
    ViewData["Title"] = "Главная";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Главная</title>
</head>
<body class="gradient">

    <form>
        <div class="form-row shadow p-3 mb-5 bg-white rounded">
            <div class="alert alert-success col-md-12" role="alert">Анкета участника</div>
            <div class="form-group col-md-4">
                <label for="inputState">Возраст</label>
                <select id="inputState" class="form-control">
                    <option value="" selected>Выберите возраст</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                Выберите пол
                <div>
                    <div class='custom-control custom-radio form-check-inline'>
                        <input type='radio' id='p1' name='p' class='custom-control-input'>
                        <label class='custom-control-label' for='p1'>Мужской</label>
                    </div>
                    <div class='custom-control custom-radio form-check-inline'>
                        <input type='radio' id='p2' name='p' class='custom-control-input'>
                        <label class='custom-control-label' for='p2'>Женский</label>
                    </div>

                </div>
            </div>
            <div class="form-group col-md-12">
                <p>
                    Инструкция по заполнению.
                    Вам будет предъявлена серия утверждений. Оценивая каждое из них не тратьте слишком много времени на раздумья. Наиболее естественна первая непосредственная реакция. Здесь нет правильных или неправильных ответов. Старайтесь отвечать искренно, иначе Ваши ответы будут распознаны как недостоверные.
                    Внимательно вчитывайтесь в текст, дочитывая до конца каждое утверждение и оценивая его как верное или неверное по отношению к Вам. Для каждого утверждения можно выбрать только один вариант ответа.
                </p>
            </div>
            <button type="submit" class="btn btn-outline-success" style="margin:5px;" asp-controller="Home" asp-action="anketa_a">Приступить к опросу</button>
        </div>
    </form>
</body>
</html>