@{
    ViewData["Title"] = "Главная";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Главная</title>
</head>
<body class="gradient">

    <form>
        <div class="form-row shadow p-3 mb-5 bg-white rounded">
            <div class="alert alert-success col-md-12" role="alert">Добро пожаловать на мониторинг. Для начала работы выберите мониторинг</div>
            <a href="#" class="btn btn-primary">  Мониторинг по питанию</a>
        </div>
    </form>
</body>
</html>