

@{
    ViewData["Title"] = "Инструкция";
}
<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Инструкция</title>
</head>
<body class="gradient">

    <form>
        <div class="form-row shadow p-3 mb-5 bg-white rounded">
            <div class="alert alert-success col-md-12" role="alert">Инструкция по проведению анкетирования</div>
            <div class="form-group col-md-12">
                <p>

                    Для проведения анкетирования понадобится доступ к сети Интернет и один из следующих браузеров:
                    Рекомендуется:
                    •	Google Chrome;
                    •	Opera
                    •	Yandex браузер;
                    Не рекомендуется:
                    •	Mozilla Firefox;
                    •	Любой другой браузер с поддержкой HTML5 FORM.
                    Не используйте!!!
                    •	Internet Explorer – возможно не сохранение результатов тестирования;

                    Доступ к анкете осуществляется по адресу http://anketa.iro23.ru, либо с сайта ГБОУ ИРО Краснодарского края по соответствующему баннеру с главной страницы.
                    Для входа в систему анкетирования потребуется ввести логин и пароль, полученные от организатора.

                    Выберите пол и возраст и начинайте проходить анкетирование.

                    Внимание! Все вопросы анкеты являются обязательными для ответа! В зависимости от типа образовательной организации автоматически предлагается анкета, содержащая отдельный набор вопросов.
                    После ответа на вопросы ОБЯЗАТЕЛЬНО нажмите кнопку «ОТПРАВИТЬ»

                    Внимание! После отправки результатов на сервер повторное прохождение не возможно!

                    Если анкетирование удачно пройдено, вы увидите сообщение об успешном прохождении.

                    Желаем успеха!

                </p>
            </div>
            <div class="form-group col-md-12">
                <p>
                    Инструкция по заполнению.
                    Вам будет предъявлена серия утверждений. Оценивая каждое из них не тратьте слишком много времени на раздумья. Наиболее естественна первая непосредственная реакция. Здесь нет правильных или неправильных ответов. Старайтесь отвечать искренно, иначе Ваши ответы будут распознаны как недостоверные.
                    Внимательно вчитывайтесь в текст, дочитывая до конца каждое утверждение и оценивая его как верное или неверное по отношению к Вам. Для каждого утверждения можно выбрать только один вариант ответа.
                </p>
            </div>

        </div>
    </form>
</body>
</html>